{{ define "index" }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/styles.css">
		<title>Photos</title>
	</head>
	<style>
	
	</style>
	<body>
		<div id="thumbnails">
		{{ range $i, $thumb := .Thumbnails }}
			<img height="100" width="100" onclick="toggle(this)" class="thumb" id="{{ $i }}" src="/static/thumbnails/{{ $thumb }}"/>
		{{ end }}
		</div>
		<div id="container"></div>
		<script src="/static/photos.js"></script>	
	</body>
</html>
{{ end }}
